#box{
    height:150px;
    width:300px;
    background-color: grey;
    border:5px dotted black;
    margin-right:1em;
    margin-bottom: 40px;
    margin-left:2em;
    padding:1em;
}

#Que2{
    height:100px;
    width:100px;
    background-color: pink;
    border:2px solid black;
    border-radius: 50%;
    display:inline-block;
}

#technologies{
    display:inline;
}

/*Li(List items) have their display property to set to "list-item" by default which makes them a bulleted
list item.
When this property is reset by you to "inline", then the bullet points also disappear. In a way,we override
the default settings with our CSS.*/