div{
    height:200px;
    width:200px;
    background-color: rgb(0, 128, 2);
    transition-duration: 2s;
    transition-delay:1s;
}

div:hover{
    background-color: black;
    border-radius: 50%;
}

#animation{
    height:200px;
    width:200px;
    background-color: greenyellow;
    margin:0 auto;
    margin-top:10px
}

#animation:hover{
    margin-top:400px;
    background-color:pink;
}