h1{
    color:palevioletred;
    background-color: lightgreen;
}

p{
    color:darkgreen;
    background-color: cadetblue;
}

button{
    color:cornflowerblue;
    background-color: fuchsia;
}