div{                                        
    height:200px;                           /*It gives height to the content*/
    width:500px;                            /*It gives width to the content*/
    background-color: pink;               /*It gives background color*/  
    border-width: 5px;
    border-style:solid;
    border-color:black;
    /*border-left-color:blue;
    border-left-style:dashed;
    border-top:5px dashed green;*/
    border-radius: 50px;
    padding-top:10px;                        /*Padding*/
    margin-bottom: 25px;                     /*Margin*/
    /*margin:20px;*/                         /*For all sides*/
}

h1{                                         /*For heading, there is default margin given, we can change it or can make 0 by setting value 0px;*/
    border-width: 2px;
    border-style: dashed;
    border-color: green;
}

button{
    border:2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right:25px;
    background-color: yellow;
}